<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: page_head('Do Exam', 'tag')" />
</head>
<body>
<div th:replace="navigation :: header_menu"></div>
<form id="examForm" th:action="@{/exam/submit}" th:object="${exam}" method="post">
    <div id="countdown">Thời gian còn lại: <span id="timer"></span></div>
    <input type="hidden" th:field="*{id}" />
    <div th:each="question, iter : *{questions}" class="question-container">
        <p style="font-size: 24px;" th:text="'Câu ' + ${iter.index + 1} + ': ' + ${question.content}"></p>
        <div th:each="answer: ${question.answers}">
            <label th:if="${question.trueAnswer != 1}">
                <input type="checkbox" th:field="*{answers}" th:name="${question.id}" th:value="${answer.id}">
                <span th:text="${answer.content}"></span>
            </label>
            <label th:if="${question.trueAnswer == 1}">
                <input type="radio" th:attr="name=${question.id}"   th:value="${answer.id}" required>
                <span th:text="${answer.content}"></span>
            </label>
        </div>
        <input type="hidden" th:field="*{answers}" th:id="${'q'+question.id}" value="" />

    </div>
    <input type="submit" value="Submit">
</form>

<script>
    // Lấy thời gian kết thúc từ model và chuyển đổi nó thành đối tượng Date
    var endTime = new Date([[${endTime}]]).getTime(); // Phải chuyển đổi từ milliseconds
    var timerElement = document.getElementById('timer');

    var countdownInterval = setInterval(function () {
        var now = new Date().getTime();
        var distance = endTime - now;

        if (distance <= 0) {
            clearInterval(countdownInterval); // Dừng bộ đếm khi hết giờ
            timerElement.textContent = "Hết thời gian";
            examForm.submit();
        } else {
            var seconds = Math.floor(distance/ 1000);
            timerElement.textContent = seconds + " giây";
        }
    }, 1000); // Cập nhật thời gian đếm ngược mỗi 1 giây (1000ms)

    document.querySelectorAll('input[type="radio"]').forEach(function (radio) {
        radio.addEventListener('change', function () {
            var questionId = this.getAttribute('name');
            var answerId = this.value;
            document.getElementById('q' + questionId).value = answerId;
        });
    });


</script>
</body>
</html>
