<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div th:fragment="header_menu">
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" />
    </form>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar, #searchNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/exam/topics}">Do Exam</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/results}">Results</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>


                <li class="nav-item">
                    <a class="nav-link" href="">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                       th:href="@{/account}"
                       sec:authentication="principal.username"></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="logoutLink" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
</div>
</body>
</html>